<header class="flex flex-col justify-center gap-y-14">
  <h1 class="font-display text-[56px] leading-none text-center text-secondary">Katalog proizvoda</h1>
  <ul class="flex justify-between">
    <li>
      <a href="/katalog">Sve</a>
    </li>
    <li>
      <a href="/katalog?q=aparati">Aparati</a>
    </li>
    <li>
      <a href="/katalog?q=vode">Vode</a>
    </li>
  </ul>
</header>
