---
import {getCollection} from 'astro:content';
import Dispensers from "@components/pages/catalog/Dispensers.astro";

const searchParams = Astro.url.searchParams;
const filter = searchParams.get("q");

const dispensersCollection = await getCollection("dispensers");


---
{filter === 'aparati' ? <div>
  <Dispensers dispensers={dispensersCollection} />
</div> : filter === "vode" ? <div>Vode</div> : <Fragment>
  <div id="dispensers">Aparati</div>
  <div id="waters">Vode</div>
</Fragment>}
