---
import { cn } from "../../../utils/cn";
let filter = Astro.url.searchParams.get("q");

if (filter !== null && filter !== "aparati" && filter !== "vode") {
  filter = null;
}
---

<header class="flex flex-col justify-center items-center gap-y-8 md:gap-y-16">
  <h1 class="font-display text-4xl md:text-6xl lg:text-7xl leading-none uppercase font-medium text-center text-secondary">Katalog proizvoda</h1>
  <ul class="flex gap-x-6 justify-center md:justify-between max-w-[300px] w-full pb-12">
    <li class="relative flex flex-col items-center group">
      <a
        href="/katalog"
        class={cn(
          "font-display text-2xl md:text-[2rem]",
          filter === null ? "text-secondary" : "text-secondary/50 group-hover:text-secondary/50 transition-all duration-300"
        )}>Sve</a
      >
      {
        (
          <svg
            class={cn(
              "absolute -bottom-2 w-[40px] md:w-[100px] transition-all duration-300",
              filter === null ? "opacity-100" : "opacity-0 group-hover:opacity-50"
            )}
            height="8"
            viewBox="0 0 69 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 2.00004C1 2.00004 10.1821 5.94361 17.2039 5.99939C24.46 6.05703 26.8144 2.01387 34.0714 2.00004C41.3872 1.98609 43.789 6.01099 51.1048 5.99939C58.3716 5.98786 68 2.00004 68 2.00004"
              stroke="#1A262F"
              stroke-width="4"
            />
          </svg>
        )
      }
    </li>
    <li class="relative flex flex-col items-center group transition-all duration-300">
      <a href="/katalog?q=aparati" class={cn("font-display text-2xl md:text-[2rem]", filter === "aparati" ? "text-secondary" : "text-secondary/50")}>Aparati</a>

      <svg
        class={cn(
          "absolute -bottom-2 w-[40px] md:w-[100px] transition-all duration-300",
          filter === "aparati" ? "opacity-100" : "opacity-0 group-hover:opacity-50"
        )}
        height="8"
        viewBox="0 0 69 8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 2.00004C1 2.00004 10.1821 5.94361 17.2039 5.99939C24.46 6.05703 26.8144 2.01387 34.0714 2.00004C41.3872 1.98609 43.789 6.01099 51.1048 5.99939C58.3716 5.98786 68 2.00004 68 2.00004"
          stroke="#1A262F"
          stroke-width="4"></path>
      </svg>
    </li>
    <li class="relative flex flex-col items-center group">
      <a href="/katalog?q=vode" class={cn("font-display text-2xl md:text-[2rem]", filter === "vode" ? "text-secondary" : "text-secondary/50")}>Vode</a>
      <svg
        class={cn("absolute -bottom-2 w-[40px] md:w-[100px] transition duration-300", filter === "vode" ? "opacity-100" : "opacity-0 group-hover:opacity-50")}
        height="8"
        viewBox="0 0 69 8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 2.00004C1 2.00004 10.1821 5.94361 17.2039 5.99939C24.46 6.05703 26.8144 2.01387 34.0714 2.00004C41.3872 1.98609 43.789 6.01099 51.1048 5.99939C58.3716 5.98786 68 2.00004 68 2.00004"
          stroke="#1A262F"
          stroke-width="4"></path>
      </svg>
    </li>
  </ul>
</header>
