---
interface Props {
  spec: {
    category: string;
    value: string;
  }
}

const { spec } = Astro.props;
---

<div class="h-16 lg:h-19 border border-secondary rounded-2xl inline-flex flex-1 flex-col items-center justify-center">
  {spec.category === "dimensions" ? <svg class="h-6 w-6 lg:h-8 lg:w-8" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.4348 1.40135H3.05856C2.40759 1.40135 1.87987 1.92907 1.87987 2.58004V15.5457C1.87987 16.1967 2.40759 16.7244 3.05856 16.7244H15.4348C16.0858 16.7244 16.6135 16.1967 16.6135 15.5457V2.58004C16.6135 1.92907 16.0858 1.40135 15.4348 1.40135ZM3.05856 0.222656C1.75661 0.222656 0.701172 1.27809 0.701172 2.58004V15.5457C0.701172 16.8476 1.75661 17.9031 3.05856 17.9031H15.4348C16.7368 17.9031 17.7922 16.8476 17.7922 15.5457V2.58004C17.7922 1.2781 16.7368 0.222656 15.4348 0.222656H3.05856Z" fill="#1A262F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8988 1.40135H6.59471V5.52678C6.59471 6.17775 7.12243 6.70547 7.7734 6.70547H10.7201C11.3711 6.70547 11.8988 6.17775 11.8988 5.52678V1.40135ZM5.41602 0.222656V5.52678C5.41602 6.82873 6.47145 7.88417 7.7734 7.88417H10.7201C12.0221 7.88417 13.0775 6.82873 13.0775 5.52678V0.222656H5.41602Z" fill="#1A262F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5518 17.9031L19.5518 0.222656L20.7305 0.222656L20.7305 17.9031L19.5518 17.9031Z" fill="#1A262F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.699951 19.6924L17.791 19.6924L17.791 20.8711L0.699951 20.8711L0.699951 19.6924Z" fill="#1A262F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3809 0.812003C18.3809 0.486516 18.6447 0.222656 18.9702 0.222656H21.3276C21.6531 0.222656 21.9169 0.486516 21.9169 0.812003C21.9169 1.13749 21.6531 1.40135 21.3276 1.40135H18.9702C18.6447 1.40135 18.3809 1.13749 18.3809 0.812003Z" fill="#1A262F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2017 18.4922C17.5272 18.4922 17.791 18.756 17.791 19.0815L17.791 21.4389C17.791 21.7644 17.5272 22.0283 17.2017 22.0283C16.8762 22.0283 16.6123 21.7644 16.6123 21.4389L16.6123 19.0815C16.6123 18.756 16.8762 18.4922 17.2017 18.4922Z" fill="#1A262F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3809 17.312C18.3809 16.9865 18.6447 16.7227 18.9702 16.7227H21.3276C21.6531 16.7227 21.9169 16.9865 21.9169 17.312C21.9169 17.6375 21.6531 17.9014 21.3276 17.9014H18.9702C18.6447 17.9014 18.3809 17.6375 18.3809 17.312Z" fill="#1A262F"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.28956 18.4922C1.61505 18.4922 1.87891 18.756 1.87891 19.0815L1.87891 21.4389C1.87891 21.7644 1.61505 22.0283 1.28956 22.0283C0.964072 22.0283 0.700212 21.7644 0.700212 21.4389L0.700212 19.0815C0.700212 18.756 0.964072 18.4922 1.28956 18.4922Z" fill="#1A262F"/>
  </svg> : null}
  {spec.category === "weight" ? <svg class="h-6 w-6 lg:h-8 lg:w-8" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7709 6.70604H6.2365C5.73275 6.70604 5.28469 7.02617 5.12143 7.50272L1.28521 18.7003C1.02313 19.4653 1.59163 20.261 2.40028 20.261H17.6071C18.4157 20.261 18.9842 19.4653 18.7222 18.7003L14.8859 7.50272C14.7227 7.02616 14.2746 6.70604 13.7709 6.70604ZM6.2365 5.52734C5.22901 5.52734 4.33288 6.1676 4.00635 7.1207L0.170141 18.3183C-0.354028 19.8483 0.78298 21.4397 2.40028 21.4397H17.6071C19.2244 21.4397 20.3614 19.8483 19.8372 18.3183L16.001 7.1207C15.6745 6.1676 14.7784 5.52734 13.7709 5.52734H6.2365Z" fill="#1A262F"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2081 5.52678C12.4902 5.10537 12.6547 4.5986 12.6547 4.05341C12.6547 2.58872 11.4673 1.40135 10.0026 1.40135C8.53794 1.40135 7.35057 2.58872 7.35057 4.05341C7.35057 4.5986 7.51508 5.10537 7.79716 5.52678H6.46547C6.27632 5.07322 6.17188 4.57552 6.17188 4.05341C6.17188 1.93774 7.88696 0.222656 10.0026 0.222656C12.1183 0.222656 13.8334 1.93774 13.8334 4.05341C13.8334 4.57552 13.7289 5.07322 13.5398 5.52678H12.2081Z" fill="#1A262F"/>
    </svg>
    : null}
  {spec.category === "volume" ?<svg class="h-6 w-6 lg:h-8 lg:w-8" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5322 17.3154H2.03807V19.0835C2.03807 19.7344 2.56579 20.2621 3.21676 20.2621H13.3535C14.0045 20.2621 14.5322 19.7344 14.5322 19.0835V17.3154ZM0.859375 16.1367V19.0835C0.859375 20.3854 1.91481 21.4408 3.21676 21.4408H13.3535C14.6555 21.4408 15.7109 20.3854 15.7109 19.0835V16.1367H0.859375Z" fill="#1A262F"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5322 12.0107H2.03807V16.0183H14.5322V12.0107ZM0.859375 10.832V17.197H15.7109V10.832H0.859375Z" fill="#1A262F"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.11107 1.40135H7.4609C6.80993 1.40135 6.28221 1.92907 6.28221 2.58005V3.28726H10.2898V2.58004C10.2898 1.92907 9.76205 1.40135 9.11107 1.40135ZM7.4609 0.222656C6.15895 0.222656 5.10352 1.2781 5.10352 2.58005V4.46595H11.4685V2.58004C11.4685 1.2781 10.413 0.222656 9.11107 0.222656H7.4609Z" fill="#1A262F"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.70868 3.34766H10.8389L10.9805 3.43427L10.673 3.937C10.9805 3.43427 10.9803 3.43414 10.9805 3.43427L10.9828 3.43569L10.9868 3.43813L10.9995 3.44607C11.0101 3.45272 11.0248 3.46209 11.0435 3.47414C11.0808 3.49825 11.1337 3.53313 11.2 3.57858C11.3325 3.66945 11.5189 3.80284 11.7411 3.97717C12.1848 4.32518 12.7761 4.83983 13.3685 5.50884C14.5482 6.84124 15.7708 8.83139 15.7708 11.3628V11.9521H0.839377L0.8027 11.402C0.699784 9.85824 1.58313 6.32722 5.55419 3.45923L5.70868 3.34766ZM10.4977 4.52635H6.09197C3.03938 6.79394 2.13684 9.40127 1.99476 10.7734H14.5658C14.3985 8.90826 13.4598 7.39012 12.486 6.29021C11.9512 5.68624 11.4153 5.21962 11.0137 4.90462C10.8133 4.74744 10.6474 4.62889 10.5334 4.55069C10.5208 4.54208 10.5089 4.53397 10.4977 4.52635Z" fill="#1A262F"/>
    </svg>
    : null}
  <span class="text-[9px] text-secondary/80 lg:text-xs">{spec.value}</span>
</div>