---
import { getCollection } from "astro:content"
import DispenserCardSecondary from "@components/pages/catalog/DispenserCardSecondary.astro";

const dispensers = await getCollection("dispensers");

const params = Astro.params;

const filteredDispensers = dispensers.filter(dispenser => dispenser.id !== `/katalog/${params.slug}`);

---
<div class="mt-9 space-y-4">
  {filteredDispensers.map((dispenser) => (
    <DispenserCardSecondary dispenser={dispenser} />
  ))}
</div>
