---
import type { ImageMetadata } from "astro";
import {Image} from "astro:assets";
interface Props {
  images: ImageMetadata[];
}

const { images } = Astro.props;
---

<div class="hidden md:flex md:flex-col md:pl-4 md:gap-y-5">
  {images.map(image => (<Image class={"w-full h-full md:rounded-2xl"} src={image} alt="Product image" width={200} height={200} />))}
</div>