---
interface Props {
  type: "Kompresorski" | "TermoelektriÄni"
}

const { type } = Astro.props;
---

<span class="px-7 py-[10px] inline-block border border-secondary rounded-full text-xs font-semibold bg-transparent">
  {type} aparat
</span>