---
interface Props {
  type: "Kompresorski" | "TermoelektriÄni";
}

const { type } = Astro.props;
---

<span class="inline-block rounded-sm text-xs font-semibold bg-transparent md:text-sm">
  {type} aparat
</span>
