---
import { Image } from "astro:assets";
import GlacierWhiteImage from "../../../../assets/images/glacier_white_side_open_shadow.jpg";
---

<div class="rounded-sm overflow-hidden h-full">
  <Image quality={100} width={1200} height={800} src={GlacierWhiteImage} alt={"Aparat Glacier White"} class={"h-full w-full object-contain"} />
</div>
