---
import { Image } from "astro:assets";
import HarmonyWhiteImage from "../../../../assets/images/harmony_white_front_shadow.jpg";
---

<div class="rounded-sm overflow-hidden">
  <Image quality={100} width={1200} height={800} src={HarmonyWhiteImage} alt={"Aparat Harmony White"} class={"h-full w-full object-contain"} />
</div>
