---
import ButtonLinkPrimary from "@components/ButtonLinkPrimary.astro";
import DispenserFeaturesGlacier from "./DispenserFeaturesGlacier.astro";
import DispenserImageGlacier from "./DispenserImageGlacier.astro";
import DispenserImageHarmony from "./DispenserImageHarmony.astro";
import DispenserFeaturesHarmony from "./DispenserFeaturesHarmony.astro";
---

<section class="bg-secondary relative pt-10 pb-[120px] overflow-hidden">
  <!-- Bottom wave divider -->
  <div class="custom-shape-divider-bottom-1743377161">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"></path>
    </svg>
  </div>
  <!-- Bottom wave divider ends -->

  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 md:gap-x-10 xl:grid-cols-[4fr_3fr] xl:gap-x-[120px] px-4">
    <DispenserFeaturesGlacier />
    <div class="hidden md:block">
      <DispenserImageGlacier />
    </div>
  </div>
  <div class="max-w-7xl mx-auto grid grid-cols-1 mt-12 md:grid-cols-2 md:gap-x-10 xl:grid-cols-[3fr_4fr] xl:gap-x-[120px] lg:mt-24 px-4">
    <div class="hidden md:block">
      <DispenserImageHarmony />
    </div>
    <DispenserFeaturesHarmony />
  </div>

  <div class="flex w-full items-center justify-center mt-16 px-4">
    <ButtonLinkPrimary href="/katalog" label="Vidi sve proizvode" classNames="w-auto" />
  </div>
</section>
