---
interface Props {
  service: {
    id: string;
    title: string;
    href: string;
    description:string;
  }
}

const { service } = Astro.props;
---

<a href={service.href} class="border flex flex-col justify-between border-secondary p-4 rounded-2xl space-y-3">
  <div>
    <span class="text-3xl text-secondary/50">{service.id}</span>
    <h3 class="text-2xl font-semibold">{service.title}</h3>
    <p class="text-base text-secondary/80">{service.description}</p>
  </div>
  <span class="underline underline-offset-2">Klikni da saznaš više</span>
</a>