@import url("https://api.fontshare.com/v2/css?f[]=tanker@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Tanker", "sans-serif";
  --font-sans: "Inter", "sans-serif";

  --color-primary: #6aa8d4;
  --color-secondary: #1a262f;
  --color-bg: #fff;
  --color-accent: #fff;
  --color-green: #29a58c;
}

.wave-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.wave {
  position: absolute;
  width: 100%;
  height: 100px;
}
.wave svg {
  width: 100%;
  height: 100%;
}
.wave path {
  animation: waveMotion 4s infinite cubic-bezier(0.25, 0.1, 0.25, 1);
}
@keyframes waveMotion {
  0%,
  100% {
    d: path("M0,160 C480,320 960,0 1440,160 V320 H0 Z");
  }
  50% {
    d: path("M0,160 C480,0 960,320 1440,160 V320 H0 Z");
  }
}
