---
import ButtonLinkPrimary from "@components/ButtonLinkPrimary.astro";
import ButtonLinkSecondary from "@components/ButtonLinkSecondary.astro";
---

<div class="relative z-30 md:flex md:flex-col md:justify-between md:overflow-visible lg:pt-8">
  <div>
    <h1 class="font-display text-secondary text-left text-[3.5rem] leading-[98%] uppercase sm:text-[4.25rem] md:text-[4.25rem] lg:pl-1 lg:text-[9rem]">
      <span class="text-secondary md:text-nowrap"> Kvalitetna voda. </span>{" "}
      Jednostavno <span class="text-primary">dostupna.</span>
    </h1>
    <p class="text-secondary/80 mt-3 text-sm leading-[140%] md:max-w-[500px] md:text-base">
      Uz naše aparate, uvek imate pristup svežoj i kvalitetnoj vodi bez brige o instalaciji ili održavanju. Jednostavno postavi balon i uživaj u hidraciji bilo
      kada.
    </p>
  </div>
  <div class="mt-4 flex items-center gap-x-5 gap-y-5 md:mt-[54px] md:flex-row md:gap-x-[18px]">
    <ButtonLinkPrimary href="/katalog" label="Katalog" />
    <ButtonLinkSecondary href="/kontakt" label="Kontakt" />
  </div>
</div>
