---
import { CallToAction } from "../components/CallToAction";
import { Logo } from "../components/Logo";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Aqua Aria | Katalog">
  <div class="flex flex-col items-center justify-center w-full gap-y-10 text-center h-screen">
    <h1 class="font-display text-5xl md:text-7xl text-secondary">Coming soon. <span class="text-primary block"> Stay tuned! </span></h1>
    <Logo />
  </div>
  <CallToAction />
</RootLayout>
