---
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<a
  href={href}
  class="inline-flex items-center cursor-pointer justify-center gap-2 whitespace-nowrap rounded-full text-sm md:text-base font-semibold uppercase transition-colors duration-300 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-transparent border border-primary text-primary hover:bg-primary hover:text-bg px-[2.125rem] py-3 sm:px-12 sm:py-3 lg:px-16 lg:py-4"
  ,
>
  {label}
</a>
