---
import ButtonLinkPrimary from "./ButtonLinkPrimary.astro";
---

<section class="bg-secondary mx-auto w-full px-4 py-14 md:py-[100px] lg:py-[120px]">
  <h3 class="text-bg font-display text-4xl text-center md:text-7xl xl:text-9xl uppercase">Tu smo za vas</h3>
  <p class="text-bg/80 mx-auto mt-3 text-center text-sm md:max-w-[500px] lg:max-w-[600px] lg:text-base">
    Uz nas kvalitetna hidratacija nikad nije bila jednostavnija. Vaš pouzdan partner za sve što vam je potrebno – od sveže vode do vrhunskih aparata!
  </p>
  <div class="mx-auto mt-9 w-full text-center md:mt-8">
    <ButtonLinkPrimary href="/kontakt" label="Kontakt" classNames="w-auto" />
  </div>
</section>
