---
import ButtonLinkSecondary from "@components/ButtonLinkSecondary.astro";
import { Image } from "astro:assets";
import ourMissionImage from "@assets/images/our-mission-img.jpg";
---

<div class="md:flex md:flex-col md:justify-between md:h-full lg:block lg:h-auto">
  <div class="">
    <h3 class="font-display text-secondary mb-3 text-5xl uppercase lg:text-7xl">Naša misija</h3>
    <p class="text-secondary/80 mb-3 text-sm lg:text-base lg:max-w-[450px]">
      Naša misija je da obezbedimo svakom domu i poslovnom prostoru pristup vrhunskoj hidrataciji. Verujemo da kvalitetna voda nije samo osnovna potreba, već i
      ključni deo zdravog i produktivnog života.
    </p>
    <div class="mb-3 overflow-hidden rounded-sm md:hidden">
      <Image src={ourMissionImage} alt={"Hands holding glass of water"} class={"rounded-2xl"} width={800} height={800} />
    </div>
    <p class="text-secondary/80 mb-6 text-sm md:mb-[84px] lg:text-base lg:max-w-[450px]">
      Sa fokusom na pouzdanost, održivost i vrhunski kvalitet, naša vizija je da postanemo sinonim za sigurnu i praktičnu distribuciju vode i aparata.
    </p>
  </div>
  <ButtonLinkSecondary href="/o-nama" label="O nama" />
</div>
