---
import ButtonLinkSecondary from "@components/ButtonLinkSecondary.astro";
import { Image } from "astro:assets";
import ourMissionImage from "@assets/images/our-mission-img.jpg";
---

<div class="h-full w-full md:flex md:flex-col md:items-start md:justify-between lg:max-w-[400px]">
  <div class="md:h-full">
    <h3 class="font-display text-secondary mb-3 text-[40px] leading-[100%] uppercase md:mb-4 md:text-[48px] lg:text-7xl">Naša misija</h3>
    <p class="text-secondary/80 mb-3 text-sm lg:text-base">
      Naša misija je da obezbedimo svakom domu i poslovnom prostoru pristup vrhunskoj hidrataciji. Verujemo da kvalitetna voda nije samo osnovna potreba, već i
      ključni deo zdravog i produktivnog života.
    </p>
    <div class="mb-3 overflow-hidden rounded-2xl md:hidden">
      <Image src={ourMissionImage} alt={"Hands holding glass of water"} class={"rounded-2xl"} width={400} height={400} />
    </div>
    <p class="text-secondary/80 mb-6 text-sm md:mb-[84px] lg:text-base">
      Sa fokusom na pouzdanost, održivost i vrhunski kvalitet, naša vizija je da postanemo sinonim za sigurnu i praktičnu distribuciju vode i aparata.
    </p>
  </div>
  <ButtonLinkSecondary href="/o-nama" label="O nama" />
</div>
