---
import { Image } from "astro:assets";
import ourMissionImage from "@assets/images/our-mission-img.jpg";
---

<div class="hidden h-full w-full overflow-hidden rounded-2xl md:block">
  <Image alt="Hands holding glass of water" width={400} height={400} src={ourMissionImage} class="h-full w-full" />
</div>
