---
import { Image } from "astro:assets";
import ourMissionImage from "@assets/images/our-mission-img.jpg";
---

<div class="hidden relative h-full w-full overflow-hidden rounded-sm md:block md:max-h-[400px] lg:max-h-[600px]">
  <Image alt="Hands holding glass of water" width={1200} height={800} src={ourMissionImage} class="h-full w-full object-cover" />
  <div class="absolute inset-0 bg-gradient-to-tr from-white/80 to-transparent"></div>
</div>
