---
import ButtonLinkPrimary from "@components/ButtonLinkPrimary.astro";
import AnanasPicture from "../../../../assets/images/ananas.png";
import Image from "astro/components/Image.astro";
---

<section class="bg-secondary py-14 md:my-20 md:py-[px]">
  <div class="items-end justify-between md:flex md:items-end md:gap-x-5 max-w-7xl mx-auto px-4">
    <div class="flex flex-col items-start md:block md:pb-6">
      <svg class="w-24" width="146" height="56" viewBox="0 0 146 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M9.89268 37.7922C7.05039 37.7922 5.57155 36.7749 5.57155 34.739C5.57155 32.3649 7.27763 31.3464 10.9159 31.3464H15.0097C15.237 31.3464 15.3512 31.4595 15.3512 31.6859V33.6085C15.3512 36.4354 13.4179 37.7922 9.89268 37.7922ZM20.354 41.9759C20.6955 41.9759 20.9227 41.7495 20.9227 41.41V25.24C20.9227 19.1337 18.0805 16.5332 10.4614 16.5332C6.36748 16.5332 3.6394 17.5505 1.59187 18.9074C1.36463 19.0205 1.36463 19.36 1.47766 19.5864L3.41098 22.979C3.52519 23.2054 3.86547 23.3185 4.09271 23.0922C5.2301 22.188 7.04921 21.3959 9.77847 21.3959C13.9854 21.3959 15.35 22.6395 15.35 25.4664V26.5969C15.35 26.8232 15.2358 26.9364 15.0086 26.9364H10.0057C3.86547 26.9375 0 29.4249 0 34.8522C0 40.0544 3.86547 42.4285 8.41384 42.4285C11.939 42.4285 14.3268 41.298 15.4642 39.4885V41.298C15.4642 41.6375 15.6915 41.8639 16.0329 41.8639H20.354V41.9759ZM46.2773 41.977C46.6187 41.977 46.846 41.7507 46.846 41.4112V25.8059C46.846 20.4917 43.548 16.5332 38.2037 16.5332C34.9058 16.5332 32.7452 17.89 31.609 19.4732V17.6637C31.609 17.3242 31.3818 17.0979 31.0403 17.0979H26.1505C25.809 17.0979 25.5818 17.3242 25.5818 17.6637V41.5232C25.5818 41.8627 25.809 42.089 26.1505 42.089H30.9261C31.2675 42.089 31.4948 41.8627 31.4948 41.5232V27.1627C31.4948 23.9964 33.2009 21.7354 36.2704 21.7354C39.3399 21.7354 40.9318 23.9975 40.9318 27.1639V41.5255C40.9318 41.865 41.159 42.0914 41.5005 42.0914H46.2761V41.9782L46.2773 41.977ZM60.1508 37.7922C57.3085 37.7922 55.8297 36.7749 55.8297 34.739C55.8297 32.3649 57.5358 31.3464 61.174 31.3464H65.2679C65.4951 31.3464 65.6093 31.4595 65.6093 31.6859V33.6085C65.7235 36.4354 63.789 37.7922 60.1508 37.7922ZM70.7252 41.9759C71.0667 41.9759 71.2939 41.7495 71.2939 41.41V25.24C71.2939 19.1337 68.4516 16.5332 60.8325 16.5332C56.7387 16.5332 54.0106 17.5505 51.963 18.9074C51.7358 19.0205 51.7358 19.36 51.85 19.5864L53.7833 22.979C53.8975 23.2054 54.2378 23.3185 54.4662 23.0922C55.6036 22.188 57.4227 21.3959 60.152 21.3959C64.3589 21.3959 65.7235 22.6395 65.7235 25.4664V26.5969C65.7235 26.8232 65.6093 26.9364 65.3821 26.9364H60.265C54.1248 26.9364 50.2593 29.4237 50.2593 34.8522C50.2593 40.0544 54.126 42.4285 58.6743 42.4285C62.1995 42.4285 64.5873 41.298 65.7235 39.4885V41.298C65.7235 41.6375 65.9508 41.8639 66.2922 41.8639H70.7264V41.977L70.7252 41.9759ZM96.5378 41.977C96.8792 41.977 97.1065 41.7507 97.1065 41.4112V25.8059C97.1065 20.4917 93.8085 16.5332 88.4642 16.5332C85.1663 16.5332 83.0069 17.89 81.8695 19.4732V17.6637C81.8695 17.3242 81.6423 17.0979 81.3008 17.0979H76.5252C76.1837 17.0979 75.9565 17.3242 75.9565 17.6637V41.5232C75.9565 41.8627 76.1837 42.089 76.5252 42.089H81.3008C81.6423 42.089 81.8695 41.8627 81.8695 41.5232V27.1627C81.8695 23.9964 83.5756 21.7354 86.6451 21.7354C89.7146 21.7354 91.3077 23.9975 91.3077 27.1639V41.5255C91.3077 41.865 91.5349 42.0914 91.8764 42.0914H96.5378V41.977ZM110.524 37.7922C107.682 37.7922 106.203 36.7749 106.203 34.739C106.203 32.3649 107.909 31.3464 111.548 31.3464H115.641C115.869 31.3464 115.983 31.4595 115.983 31.6859V33.6085C115.983 36.4354 114.048 37.7922 110.524 37.7922ZM120.986 41.9759C121.327 41.9759 121.554 41.7495 121.554 41.41V25.24C121.554 19.1337 118.712 16.5332 111.093 16.5332C106.999 16.5332 104.271 17.5505 102.224 18.9074C101.996 19.0205 101.996 19.36 102.109 19.5864L104.043 22.979C104.156 23.2054 104.497 23.3185 104.724 23.0922C105.862 22.188 107.681 21.3959 110.41 21.3959C114.617 21.3959 115.982 22.6395 115.982 25.4664V26.5969C115.982 26.8232 115.869 26.9364 115.64 26.9364H110.524C104.384 26.9364 100.519 29.4237 100.519 34.8522C100.519 40.0544 104.385 42.4285 108.932 42.4285C112.458 42.4285 114.845 41.298 115.982 39.4885V41.298C115.982 41.6375 116.209 41.8639 116.55 41.8639H120.985V41.977L120.986 41.9759ZM135.539 42.5417C142.361 42.5417 146 39.0359 146 34.1744C146 30.1039 143.498 27.389 138.268 26.9375L135.539 26.7112C132.355 26.3717 131.445 25.5807 131.445 24.1107C131.445 22.6407 132.696 21.5102 135.197 21.5102C137.698 21.5102 140.2 22.5275 141.679 23.546C141.906 23.6592 142.248 23.6592 142.361 23.4329L144.863 20.3797C144.977 20.1534 144.977 19.8139 144.748 19.7007C142.475 17.8912 139.291 16.6475 135.311 16.6475C129.057 16.6475 125.646 19.7007 125.646 24.4502C125.646 28.6339 128.261 31.2355 133.265 31.8002L135.993 32.0265C139.291 32.366 140.087 33.2702 140.087 34.7402C140.087 36.4365 138.495 37.6802 135.424 37.6802C132.809 37.6802 129.967 36.5497 128.148 34.8534C127.921 34.627 127.579 34.627 127.465 34.8534L124.509 37.9065C124.281 38.1329 124.281 38.4724 124.509 38.5844C126.896 40.507 130.422 42.5417 135.539 42.5417Z"
          fill="#FE502A"></path>
        <path
          d="M1.93588 13.257H20.4696C20.8111 13.257 21.0383 13.0306 21.0383 12.6911V8.7338C21.0383 8.3943 20.8111 8.16797 20.4696 8.16797H1.93588C1.59443 8.16797 1.36719 8.3943 1.36719 8.7338V12.8043C1.36719 13.0306 1.59443 13.257 1.93588 13.257Z"
          fill="#84BD00"></path>
      </svg>

      <h3 class="font-display text-bg mt-1 text-[40px] leading-[100%] uppercase md:mt-3 md:max-w-[20ch] md:text-left md:text-5xl lg:max-w-2xl lg:text-6xl">
        Poruči naše proizvode putem <span class="text-primary">ananas</span> platforme
      </h3>
      <p class="mt-3 max-w-[280px] text-left text-sm text-white/80 md:max-w-[480px] md:text-left lg:text-base">
        U saradnji sa ananas platformom za online kupovinu, sada naše proizvode možete poručiti i putem njihove veb prodavnice.
      </p>
      <ButtonLinkPrimary href="#" label="Poruči" classNames="mt-6 sm:w-auto" />
    </div>
    <div class="relative ml-20 hidden w-full md:mx-auto md:-mt-[300px] md:block md:w-[215px] md:shrink-0 lg:-mt-[328px] lg:w-[18.75rem]">
      <Image src={AnanasPicture} class="hidden w-full object-cover md:block md:h-full md:w-full" width={300} height={680} alt="Ananas fruit" />
    </div>
  </div>
</section>
